<div class="YO " style="margin-top: 4%; height: 12%; width: 30%; margin-left: 36%;">
<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h5 mb-3 fw-normal">Please sign in to confirm your command</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mt-2">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="payer()">Sign in</button>
    <p style="text-decoration:underline;">If you don't have an account sign up</p>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()">Sign up</button>
  </form>
</main>
</div>
